{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <form class="col s12" action="{{ path('edittask', {'id' : task.id}) }}" method="get">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="{{ task.name }}" id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="{{ task.priority }}" id="priority" type="text" class="validate">
                    <label for="priority">Priority</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
            </button>
        </form>
    </div>
{% endblock %}