{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('addtask') }}">
        <label>
            Nom de la tâche
            <input type="text">
        </label>
        <input type="submit">
    </form>
{% endblock %}